@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

.Background{
    opacity: 0.6;
    animation-name: BackgroundSlide;
    animation-duration: 5s;
    background-image: url("auto.png");
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

img {
    height: 5vh;
    width: 5vh;
    display: block;
    margin-left: auto;
    position:relative;
    animation-name: Slide;
    animation-duration: 3s;
}

.Images{
    position: relative;
    top: 300px;
    max-height: 5vh;
}

.Text{
    color: black;
    size: 40vh;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
    bottom: 180px;
    right: 10px;

}

body{
    animation: Op 2s;
    animation-delay: 6s;
}


@keyframes BackgroundSlide {
    0%{opacity: 0;top: 200px;}
    40%{top: 0;}
    100%{opacity: 0.6;top: 0;}
}

@keyframes Slide {
    10%{opacity: 0;height: 80vh;width: 80vh;}
}


@keyframes Op {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

