@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.OIP-Header{
    text-align: center;
    height: 1700px;
}

table,td,tr{

margin-left: auto;
margin-right: auto;
text-align: left;
}

#TS{
    background-color: #dddddd;
    display: flex;
}

.HImg .HImg-Obraz{
    background-image: url('OAC.png');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    padding: 0;
    margin-top: 200px;
    margin-left: 250px;
    inset: 0;
    z-index: -1;
}

.History{
    padding: 0;
    padding-left: 250px;
}

.History img{
    height: 300px;
    width: 500px;
}

.HImg-Obraz #HImg-Obraz-T{
    position: relative;
    color: black;
    background-color: white;
    margin: 0;
    margin-top: 0;
    margin-left: 100px;
    height: 30px;
    width: 200px;
    text-align: center;
}

.Auto4 {
    box-shadow: inset 0 0 25px 25px #000;
    background: transparent;
    background-image: url(SerwisIAkcesoriaZdjecia/1Ele.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative; /*abs*/
    /*margin-top: 75px; */
    height: 900px;
    inset: 0;
    z-index: -1;

    animation: A1Op 3s, A1Slide 1.5s;
}

.Modele-Auta{
    margin-left: 225px;
    animation: MAOp 3s, MASlide 1.5s;
}

.Modele-Auta img{
    height: 150px;
    width: 350px;
    margin-bottom: 30px;
}

.Modele-Auta button{
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Modele-Auta ul li{
    list-style: none;
    }

.Modele-Auta li {
padding-top: 60px;
display: flex;
justify-content: space-between;
align-items: center;
}

#PreviewN{
    display: none;
}

#Preview{
    background-color: #dddddd;
    width: 800px;
    border-radius: 10px;
    display: block;
}

#Inner-Preview{
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
    padding-left: 25px;
}

.Modele-Auta div{
    padding-right: 25px;
}

.SIA-Info{
    text-align: center;
    font-size: 35px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: 2100px;
}

.SIA-Info-Inner ul {
display: flex;
justify-content: space-between;
align-items: center;
}

.SIA-Info-Inner3 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.SIA-Info-Inner3 img {
    height: 350px;
    width: 450px;
}

.SIA-Info-Inner ul {
    margin: 0;
    padding: 0;
    display: flex;
}
    
.SIA-Info li {
    list-style: none;
}

.SIA-Info h4{
    text-align: center;
    font-size: 45px;

}

.Auto4 .PodAuto1{
    font-size: 80px;
    position: relative;
    color:white;
    margin: 0;
    padding: 0;
    padding-left: 700px;
    padding-top: 10px;
}

.Auto1 {
    box-shadow: inset 0 0 25px 25px #000;
    background: transparent;
    background-image: url(1st.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative; /*abs*/
    /*margin-top: 75px; */
    height: 900px;
    inset: 0;
    z-index: -1;

    animation: A1Op 3s, A1Slide 1.5s;
}

.Auto1 .PodAuto1{
    position: relative;
    color:white;
    margin: 0;
    padding: 0;
    padding-left: 100px;
    padding-top: 600px;
}

.Auto2{
    box-shadow: inset 0 0 25px 25px #000;
    background: transparent;
    background-image: url(ElektromobilnoscZdjecia/1Ele.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative; /*abs*/
    /*margin-top: 75px; */
    height: 1050px;
    inset: 0;
    z-index: -1;

    animation: A1Op 3s, A1Slide 1.5s;
}

.Auto2 h1{
position: absolute;
margin-left: 75%;
 font-size: 50px;
 color: white;   
}

.Auto3{
    box-shadow: inset 0 0 25px 25px #000;
    background: transparent;
    background-image: url(OfertyPoradyZdjecia/1Ele.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative; /*abs*/
    /*margin-top: 75px; */
    height: 500px;
    inset: 0;
    z-index: -1;

    animation: A1Op 3s, A1Slide 1.5s;
}

.Auto3 h1{
position: absolute;
margin-left: 75%;
 font-size: 50px;
 color: white;   
}

.Elektr{
    text-align: center;
    height: 500px;
    width: 100%;
}

.Auta{
    background-color: white;
    margin: 0;
    padding: 0;
    position: relative;
    height: 900px;
    inset: 0;
    z-index: -1;
    animation: AAOp 3s, AASlide 1.5s;
    text-align: center;
}

.Auta #PodAuta{
    position: relative;
    height: 500px;
    width: 550px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 350px;
}

body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}


.Photos{
    height: 1806px;
    width: 100%;
    position: relative;
}

.Photos div{
    margin-top: 2px;
}

.Photos h1{
    color: white;
    padding-left: 25px;
}

.Left1{
    float: left;
    width: 25%;
    background: url(ElektromobilnoscZdjecia/2Ele.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.Left2{
    float: left;
    width: 75%;
    background: url(ElektromobilnoscZdjecia/4Ele.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.Left3{
    float: left;
    width: 25%;
    background: url(ElektromobilnoscZdjecia/6Ele.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}


.Right1{
    float: right;
    width: 74.85%;
    background: url(ElektromobilnoscZdjecia/3Ele.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-left: 2px;
}

.Right2{
    float: right;
    width: 24.85%;
    background: url(ElektromobilnoscZdjecia/5Ele.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-left: 2px;
}

.Right3{
    float: right;
    width: 74.85%;
    background: url(ElektromobilnoscZdjecia/7Ele.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-left: 2px;
}


@keyframes MAOp {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes MASlide {
    0%{margin-top: 75px;}
    100%{margin-top: 0px;}
}

@keyframes A1Op {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes A1Slide {
    0%{margin-top: 75px;}
    100%{margin-top: 0px;}
}

@media (max-width:1350px) {
    .Photos{
        height: 3612px;
    }
    .Left1{
        width: 100%;
    }
    .Left2{
        width: 100%;
    }
    .Left3{
        width: 100%;
    }

    .Right1{
        width: 100%;
    }
    .Right2{
        width: 100%;
    }
    .Right3{
        width: 100%;
    }
}
